.accountform {
    padding-top: 20px;
    background-color: white;
    max-width: 900px;
}

.form-group {
    padding-left: 5px;
    padding-right: 5px;
}

#register-form {
    background-color: rgba(255, 255, 255, 0.75);
}

#register-article, #login-article {
    background-color: white;
    padding-top: 0;
    margin-top: 230px;
    max-width: 1000px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);
}

.forgot-passwrd {
    color: rgb(66, 57, 57);
}

.no-acnt-login-form {
    color: rgb(104, 84, 84);
}

.no-acnt-login-text {
    padding-left: 15px;
}