body {

    background: url("../images/honda-background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
        
}      

a {
    color: rgb(255, 255, 255);
}

.nav li a:hover {
    color: rgb(255, 255, 255);
}

.container {
    padding-left: 0;
    padding-right: 0;
}

li {
    padding: 5px;
}

article {
    padding-top: 190px;
}

.btn-light {
     background-color: rgb(189, 84, 52);
     color: rgb(255, 255, 255);
}

/*----------------------------------------Index*/

.custom-jumbotron {
    margin-top: 70px;
    background-color: #fdfdfdc9;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);
}

/*----------------------------------------User Message*/

.alert-success {
    margin-top: 90px;
}

/*----------------------------------------Navigation Bar*/

.navbar-icons {
    padding-top: 12px;
}

.navbar.navbar-expand-lg.navbar-dark.fixed-top {
    background-color: black;
}

.navbar-brand {
    color: white;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    color:#070707;
    background-color: #8cbbd7;
}

.label-warning[href],
.badge-warning[href] {
    background-color: rgb(204, 0, 0);
}

.navbar-a-link:hover { 
    text-decoration: none;
    color: rgb(189, 84, 52);
} 

.navbar-dark .navbar-toggler {
    color: rgb(220, 0, 0);
    border-color: rgba(220, 0, 0, 0.4);
}

/*------------------------------------------Products*/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding-top: 45px;
}

.product-heading {
    padding-left: 15px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);
}

.product-description {
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

.product-price {
    margin-left: 15px;
}

.input-group {
    padding-left: 15px;
    padding-bottom: 20px;
}

.input-group-btn {
    padding-left: 5px;
    padding-right: 15px;
}

.form-control {
    margin-left: 15px;
}

.text-scroll {
    overflow-y: scroll;
}

.form-control.products-quantity {
    margin-left: 15px;
}

/*--------------------------------------------Profile section*/

.profile-article {
    padding: 50px;
    background-color: white;
}

.profile {
    
    background: #cac8c8c9;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.388);

}

#profile-container {
    padding: 25px;
    text-align: center;
}

/*----------------------------------------Page not found*/

#page-not-found {
    padding: 200px;
    color: white;
    text-shadow: 2px 2px #0c0c0c79;
}

/*--------------------------------------------Footer Section*/

.footer-icons {
    font-size: 2.7em;
    color: rgb(204, 0, 0);
}

.footer-text {
    text-align: center;
    padding-top: 125px;
    color: rgb(204, 0, 0);
}

footer {
    background-color: rgb(27, 20, 20);
    height: 225px;
    margin-top: 200px;
}

/*---------------------------------------------Media Query*/

@media only screen and (min-width: 550px) {

    .product {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding-top: 35px;

    }

}

@media only screen and (min-width: 1200px) {

    .product {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 350px;
        height: 350px;
        margin: 0 auto;
        padding-top: 25px;

    }

}

@media only screen and (min-width: 550px) {

    .custom-jumbotron {

        width: 75%;

    }

}
