{% extends "base.html" %}
{% block content %}
<div class="container shop-review-container">
	<div class="row">
		<div class="col-sm">
            <div class="row">
                <div class="col-sm-10 col-md-9">
                    <h3>{{ shop_review.review_title }}</h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <p>{{ shop_review.review_description }}</p>
                            <p><span class="boldtext">Published on:</span> {{ shop_review.review_date }} </p>
                            <p><span class="boldtext">Views:</span> {{shop_review.review_views}}</p>
                            <a href="{% url 'edit_shop_review' shop_review.id %}" class="btn btn-light">Edit Post</a>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}
