{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<article class="py-3 mx-auto" id="login-article">
    <div class="container">

        <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform mx-auto">
            <fieldset class="form-group">
                <legend>Login</legend>
                {% csrf_token %}
                {{ user_form | as_bootstrap }}
                
                <p><a class="forgot-passwrd" href="{% url 'password_reset' %}">Forgot my password</a></p>
                
                <button type="submit" class="btn btn-light ml-1">Login</button>

                <span class="no-acnt-login-text">Don't have an account with us? 
                    <a class="no-acnt-login-form" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a>
                </span>
            </fieldset>
        </form>

    </div>
</article>
{% endblock %}