{% extends "base.html" %}
{% block content %}


<article class="cart-article pt-1 pb-5 mx-auto">
    <div id="profile-container" class="container">
        <div class="row">
        <div class="profile py-5">
            <h1 class="display-4">Honda Motorcycle Shop</h1>
            <hr class="my-4">
            <h1>Welcome {{ user.username }}!</h1>
            <p>You are logged in as {{ user.email }} </p>
        </div>
        </div>
        <div class="row">

        {% for order in user.orders.all %}
            <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h2>Order: {{ order.id }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Delivery address:</p>
                            <p>{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>{{ order.postcode }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>{{ order.country }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p>Items:</p> 
                            {% for motorcycle in order.line.all %}
                                {{ motorcycle.product }} - Qty: {{ motorcycle.quantity }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            <hr>
        {% endfor %}

        </div>

    </div>
</article>




{% endblock %}
